<table class="table table-bordered">
    <thead>
        <th>Color Id</th>
        <th>Color Name</th>
        <th></th>
    </thead>
<tbody>
    <tr *ngFor="let color of colors">
        <td>{{color.colorId}}</td>
        <td>{{color.colorName}}</td>
        <td><button
            type="button"
            (click)="setChangedColor(color)"
            class="btn btn-warning text-center"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Update
          </button></td>
    </tr>
    
</tbody>

</table>

<app-color-update [color]="changedColor" (updated)="getColors()"></app-color-update>