<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><font color="#OOCDAC">Home</font></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/brands/add"
            ><font color="#8A75FF">Add & | OR Update Brand</font></a
          >
        </li>
        <!-- <app-cart-summary></app-cart-summary> -->
        <li class="nav-item">
          <a class="nav-link active" routerLink="/colors/add"
            ><font color="#FFABAB">Add & | OR Update Color</font></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="/cars/add"
            ><font color="#OO65A2">Add Car</font></a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/login"
            style="position: absolute; right: 100px"
            ><font color="#OOCDAC">Login</font></a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/register"
            style="position: absolute; right: 20px"
            ><font color="#OOCDAC">Register</font></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
