<!-- <div class="col-md-7 mx-auto">
  <div
    class="card-body"
    style="background-color: whitesmoke; position: relative"
  >
    <h5 class="card-title">Kredi kartı ile satın alma</h5>

    <input
      type="text"
      [(ngModel)]="nameOnTheCard"
      class="form-control"
      id="nameText"
      placeholder="Kartın üzerindeki isim"
      style="margin-top: 20px"
    />

    <input
      type="text"
      [(ngModel)]="cardNumber"
      class="form-control"
      id="numberText"
      placeholder="Kart numarası"
      style="margin-top: 20px"
    />

    <input
      type="text"
      [(ngModel)]="cardCvv"
      class="form-control"
      id="cvvText"
      placeholder="Cvv"
      style="margin-top: 20px"
    />

    <button
      type="button"
      class="btn btn-success"
      style="position: absolute; bottom: 20px; right: 20px"
      (click)="rentACar()"
    >
      Kirala
    </button>
    <p style="position: absolute; bottom: 20px; left: 20px">
      {{ rental.totalRentPrice | currency: "TRY":"symbol-narrow":"1.2-2" }}
    </p>
    <br /><br />
    <p></p>
  </div>
</div> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ödeme Bilgileri</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="creditCardForm">
          <div class="mb-3">
            <label for="isim" class="form-label">Kart üzerindeki isim</label>
          <input [(ngModel)]="isim" type="text" id="isim" formControlName="nameOnTheCard" placeholder="Kart üzerindeki isim">
        </div>
          <div class="mb-3">
            <label for="Kartnumarası" class="form-label">Kart numarası</label>
          <input [(ngModel)]="kartnumarasi" id="Kartnumarası" type="text" formControlName="cardNumber" placeholder="Kart numarası"> 
        </div>
          <div class="mb-3">
            <label for="cvv" class="form-label">Cvv</label>
          <input [(ngModel)]="cvv" type="text" id="cvv" formControlName="cardCvv" placeholder="Cvv">
        </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Çıkış</button>
        <button type="button" class="btn btn-primary" (click)="addPayment()">Öde</button>
      </div>
    </div>
  </div>
</div>