
<div *ngIf="cardto">
  <h2>Araba bilgileri</h2>
  <p>Marka {{cardto.brandName}}</p>
  <p>Renk {{cardto.colorName}}</p>
  <p>Günlük ücret {{cardto.dailyPrice}}</p>
  <p>Açıklama {{cardto.description}}</p>
</div>
<div class="row">
  <div class="col-md-6">
    Rent Start Date :
    <input type="date" [min]="today" (input)="getStartDate($event)"/>
  </div>
  <div class="col-md-6">
    Rent End Date :
    <input [disabled]="!isRentDateSelected" type="date" [min]="endMinDate" (input)="getEndDate($event)"/>
  </div>
</div>
<div class="col-md-6">
    <p>  Total Day: {{totalDay}}</p>
      <p *ngIf="cardto"> Daily Price : {{cardto.dailyPrice}}</p>
      <p> Total Price : <span *ngIf="totalDay"> {{totalDay*cardto.dailyPrice}}</span></p>
</div>
<button type="button" (click)="rent()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Rent
</button>
<app-creditcard rentals="rental"></app-creditcard>

