<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="content">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header"><h5 class="title">Update Brand</h5></div>
              <div class="card-body">
                <form [formGroup]="brandUpdateForm">
                  <div class="mb-3">
                    <label for="brandId">Brand Id</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="brandId"
                        formControlName="brandId"
                        class="form-control"
                        placeholder="BrandId"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="brandName">Brand Name</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="brandName"
                        formControlName="brandName"
                        class="form-control"
                        placeholder="BrandName"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-fill btn-primary" (click)="update()">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <table class="table table-bordered">
  <thead>
    <th>Brand Id</th>
    <th>Brand Name</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands">
      <td>{{ brand.brandId }}</td>
      <td>{{ brand.brandName }}</td>
      <td>
        <button
          type="button"
          (click)="setChangedBrand(brand)"
          class="btn btn-warning text-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-brand-update
  [brand]="changedBrand"
  (updated)="getBrands()"
></app-brand-update> -->
