<div *ngIf="cardto" class="card mb-3">
    <img src="https://localhost:44330/images/{{carimages[0].imagePath}}" class="card-img-top" alt="...">
    <div  class="card-body">
      <h5 class="card-title">{{cardto.brandName | uppercase}}</h5>
      <p class="card-text">Günlük ücret : {{cardto.dailyPrice}} Renk: {{cardto.colorName}}
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
<div *ngIf="dataLoaded==false" class="spinner-border text-info " role="status">
  <span class="visually-hidden">Loading...</span>
</div>
