<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table *ngIf="dataLoaded == true" class="table table-bordered">
    <thead>
      <th><font color="#FF33B8">Rentals</font></th>
      <th><font color="#FF33B8">User Name</font></th>
      
    </thead>
    <tbody>
      <tr *ngFor="let rentalDto of rentalDtos">
        <td>{{ rentalDto.brandName }}</td>
        <td>{{ rentalDto.userName }}</td>
      </tr>
    </tbody>
  </table>
