<li *ngIf="cartItems.length>0" class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Your Cart
    </a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let cartItem of cartItems">
        <a  class="dropdown-item">
          <span class="badge bg-secondary">{{cartItem.quantity}}</span>
          {{
          cartItem.cardto.brandName
        }}<span (click)="removeFromCart(cartItem.cardto)" class="badge bg-secondary">Discard</span></a>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item">Go to Cart</a></li>
    </ul>
  </li>




  

  
  
  
