<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table table-bordered">
  <thead>
    <th>Id</th>
    <th>Description</th>
    <th>Daily Price</th>
    <th>Brand Name</th>
    <th>Color Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let carDto of cardtos">
      <td>{{carDto.carId}}</td>
      <td>{{carDto.description}}</td>
      <td>{{carDto.dailyPrice}}</td>
      <td>{{carDto.brandName}}</td>
      <td>{{carDto.colorName}}</td>
      <td><button type="button" routerLink = "/cardetails/{{carDto.carId}}" 
      class="btn btn-dark text-center">Ayrıntılar</button>
    </td>
    </tr>
  </tbody>
</table>


