<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Search</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama İfadesi Giriniz"
  />
</div>
<div *ngIf="filterText" class="alert alert-success">
  You searched for {{filterText}}
</div>
<div class="row">
  <div class="col-md-10">
    <app-brand-selectoption (outputValue)="getBrandId($event)"></app-brand-selectoption>
    <app-color-selectoption (outputValue)="getColorId($event)"></app-color-selectoption>
  </div>
  <div class="col-md-2 my-auto">
    <button class="btn btn-primary" (click)="doFilter()">Filter</button>
  </div>
</div>


<table *ngIf="dataLoaded == true" class="table table-bordered">
  <thead>
    <th><font color="#8A75FF">Id</font></th>
    <th><font color="#8A75FF">Description</font></th>
    <th><font color="#8A75FF">Daily Price</font></th>
    <th><font color="#8A75FF">Vat Added Price</font></th>
    <th><font color="#8A75FF">Brand Name</font></th>
    <th><font color="#8A75FF">Color Name</font></th>
    <th><font color="#8A75FF"></font></th>
  </thead>

  <tbody>
    <tr *ngFor="let carDto of cardtos | filterPipe:filterText">
      <td>{{ carDto.carId }}</td>
      <td>{{ carDto.description }}</td>
      <td>{{ carDto.dailyPrice | currency : 'TL' }}</td>
      <td>{{ carDto.dailyPrice | vatAdded: 10 | currency : 'TL' }}</td>
      <td>{{ carDto.brandName | uppercase }}</td>
      <td>{{ carDto.colorName }}</td>
      <td><button (click)="addToCart(carDto)" class="btn btn-success">Rent</button></td>
      <td>
        <button
          type="button"
          routerLink="/cardetails/{{ carDto.carId }}"
          class="btn btn-dark text-center"
        >
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table>


