<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table table-bordered">
  <thead>
    <th><font color="#8A75FF">Id</font></th>
    <th><font color="#8A75FF">Description</font></th>
    <th><font color="#8A75FF">Daily Price</font></th>
    <th><font color="#8A75FF">Brand Name</font></th>
    <th><font color="#8A75FF">Color Name</font></th>
  </thead>

  <tbody>
    <tr *ngFor="let carDto of cardtos">
      <td>{{carDto.carId}}</td>
      <td>{{carDto.description}}</td>
      <td>{{carDto.dailyPrice}}</td>
      <td>{{carDto.brandName}}</td>
      <td>{{carDto.colorName}}</td>
      <td><button type="button" routerLink = "/cardetails/{{carDto.carId}}" 
      class="btn btn-dark text-center">Details</button>
    </td>
    </tr>
  </tbody>
</table>


