<button
  type="button"
  class="btn btn-success"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Update
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="content">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header"><h5 class="title">Update Car</h5></div>
              <div class="card-body">
                <form [formGroup]="carUpdateForm">
                  <div class="mb-3">
                    <label for="carId">Car Id</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="carId"
                        formControlName="carId"
                        class="form-control"
                        placeholder="CarId"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="brandId">Brand Id</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="brandId"
                        formControlName="brandId"
                        class="form-control"
                        placeholder="BrandId"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="colorId">Color Id</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="colorId"
                        formControlName="colorId"
                        class="form-control"
                        placeholder="ColorId"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="modelYear">Model Year</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="modelYear"
                        formControlName="modelYear"
                        class="form-control"
                        placeholder="Model Year"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="dailyPrice">Daily Price</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="dailyPrice"
                        formControlName="dailyPrice"
                        class="form-control"
                        placeholder="Daily Price"
                      />
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="description">Description</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="description"
                        formControlName="description"
                        class="form-control"
                        placeholder="Description"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-fill btn-primary" (click)="update()">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
